.form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 1rem;
	height: min-content;
	width: fit-content;
}

.form label {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: .5rem;
	border: dotted dodgerblue 2px;
}

.form input, .form select {
	margin-left: 1rem;
}

.form select, .form input[type="number"] {
	width: 30%;
}