.yarnDisplay {
	list-style: none;
}

.yarnDisplay li {
	text-align: left;
}

.updateForm {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	background-color: slategray;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.updateForm h3 {
	color: white;
}

.updateForm form {
	background-color: white;
}

.updateForm input {
	border: none;
	text-align: right;
	padding-right: 1rem;
}