.header {
	background-color: #282c34;
	height: 20vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	padding: .5rem;
	position: sticky;
	top: 0;
}

.header h1 {
	margin: 0 1rem;
	align-self: flex-end;
}

.header nav {
	font-size: 1rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-self: flex-start;
}

.link {
	color: #61dafb;
	margin: 0 1rem;
}

.link:link, .link:visited {
	text-decoration: none;
}

.link:hover {
	color: white;
}

.link:active {
	color: slategray;
}

.current {
	color: mediumseagreen;
	font-style: italic;
}