.dropdownLabel {
	text-align: right;
	color: white;
	height: min-content;
	background-color: slategray;
	margin-bottom: 0;
	position: sticky;
	top: 20vh;
}

.dropdownLabel select {
	margin: 1rem;
}

.main {
	display: grid;
	grid-template-rows: min-content 1fr;
	grid-template-columns: 1fr;
}
