.list {
	list-style: none;
	padding-left: unset;
	padding: 1rem;
	grid-column: 1 / 3;
	display: grid;
	grid-template-columns: 50% 50%;
}

.listItem {
	border: solid 4px midnightblue;
	margin: 1rem;
	padding: 1rem;
}