.list {
	list-style: none;
	padding-left: unset;
	padding: 1rem;
	display: grid;
	grid-template-columns: 50% 50%;
	
}

.listItem {
	color: #282c34;
	border: solid 3px mediumseagreen;
	box-shadow: #282c34 4px 4px;
	padding: 1rem;
	margin: 1rem;
}

.updateLinks {
	border-top: solid 1px slategray;
	padding: .5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.updateLinks a:link, .updateLinks a:visited {
	color: inherit;
	text-decoration: none;
	box-shadow: #282c34 2px 2px;
	padding: .5rem;
	background-color: mediumseagreen;
}

.updateLinks button {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}