.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.current {
  display: none;
}

main {
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 70vh;
}

.redirects section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-link:link, .button-link:visited {
  color: inherit;
  text-decoration: none;
  box-shadow: #282c34 4px 4px;
  padding: 2rem;
  background-color: springgreen;
  font-size: 1.25rem;
}

.redirects select {
  margin: 1rem;
  width: 40%;
  height: 1.5rem;
  padding: .25rem;
  font-family: monospace;
}

.dropdown-link {
  font-style: italic;
  color: inherit;
  text-decoration: none;
  background-color: springgreen;
  box-shadow: #282c34 4px 4px;
  padding: .5rem;
}

.yarn-item {
  width: 100%;
  height: min-content;
  text-align: left;
  padding: 1rem;
}

.yarn-item h3 {
  margin-top: 0;
}
